*.safetensors
*.bin
*.pt
*.pth
qwen2.5-vl-*/
*-Instruct/
*.annotated.jpg
annotations.json
annotations_tiled*.json
*_coco.json
coco.json
visdrone_val_gt*.json
instances_*.json
*.log
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.DS_Store
.vscode/
.cursor/
